contourpy
cx-Freeze
cycler
Cython
et-xmlfile
fonttools
joblib
kiwisolver
lief
matplotlib
numpy
openpyxl
packaging
pandas
patsy
Pillow
pmdarima
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
sklearn
statsmodels
threadpoolctl
urllib3
xlrd
